doctype html
html(lang="ru")
	head
		title Toster
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&amp;subset=latin,cyrillic")
		link(rel='stylesheet', href='css/' + style_link)
		link(rel='stylesheet', href='css/fontello.css')
	body
		.out
			include partials/navbar.jade
			.body
				.body__wrapper

					include partials/header.jade

					.content
						.content__wrapper
							.page
								include partials/question-item.jade
						
						include partials/sidebar.jade

				include partials/footer.jade