.content-list_cards
	padding-bottom 20px !important
	.content-list__item
		display inline-block
		width 32%
		margin 20px 2% 0 0
		&+.content-list__item
			margin-left -5px
		&:nth-child(3n+3)
			margin-right 0
		&:nth-child(3n+1)
			margin-left 0

.card
	padding 15px
	border-radius 5px
	border 1px solid #eee