$border = #eee
$text = #9099a3
$strong-text = darken($text, 15%)
$link = #2d72d9
$link-hover = darken($link, 15%)

.content-list_cards
	padding-bottom 20px !important
	.content-list__item
		display inline-block
		width 32%
		margin 20px 2% 0 0
		&+.content-list__item
			margin-left -5px
		&:nth-child(3n+3)
			margin-right 0
		&:nth-child(3n+1)
			margin-left 0

.card
	padding 15px
	border-radius 5px
	border 1px solid #eee
	&__head
		padding-bottom 10px
		border-bottom 1px solid $border
		&-image
			display block
			width 65px
			height @width
			border-radius 5px
			padding 5px
			vertical-allign middle
			background #eef1f4
			margin-bottom 10px
			& > i
				font-size 2.5em
				color #2d72d9
				line-height 1.4
				margin-left 2px
		&-title
			font-size 1.1em
	&__stats
		padding 8px 0 10px
		border-bottom 1px solid $border
		font-size .9em
		&-counter
			font-weight 700
			color $link
			font-size 15px
			&_zero
				color $text
			&:hover
				color $link-hover
				text-decoration underline
	&__rate
		padding 8px 0 10px
		border-bottom 1px solid $border
		font-size .9em
		color $text
		& > strong
			color $strong-text
	&__buttons
		@extend $clearfix
		padding-top 10px
.progress
	position relative
	width 100%
	height 10px
	background #eef1f7
	border-radius 10px
	margin-top 10px
	&__bar
		background #c2c7d2
		width 75%
		transition width .5s linear
		height 100%
		border-radius 10px
.inline-list
.list-item
	&+&
		margin-left -4px
	&_bullet
		vertical-allign top
		&:before
			margin-left 5px
			content '\2022'
			color #c8ced4
			font-size 15px
			position relative
			padding-right 4px
		&:first-child:before
			display none
	