.answer__comments
	background #f6f7f7
	color #333
	border-radius 5px
	margin-top 15px
	display none
	&.active
		display block
.user-summary_comment
	line-height 1
	.user-summary__desc
		vertical-align top
		margin-left -4px
.comment
	padding 15px!important
	border-bottom-color #f0f0f0!important
	&__body
		margin -15px 0 0 45px
		&_inner
			font-size .9em
	&__date
		color #9099a3
		line-height 1.5
  		// font-size 1em
.button-group_comment
	padding-top 5px!important
 $btn_answer = #2d72d9
.btn_answer
	color $btn_answer
	font-size .9em
	font-weight 700
	vertical-align middle
	&:hover
		border-bottom 1px dotted $btn_answer
		
.field
	display inline-block
	width 87%
	max-width 87%
.comment__field
	border-radius 5px
	padding 8px
	max-width 100%
	width 100%
.comment_form
	padding 14px 15px 10px !important
	background #eee
	
.form_comments
	position relative
.form__buttons
	position absolute
	right 0
	bottom 5px
.form__submit
	background #aaa
	border 1px solid #aaa
	border-radius 3px
	padding 8px
	color #fff
	font-size .9em
	font-weight 700
.list-content_comments
	.list-content__item
		&:first-child
			border-top-left-radius 5px
			border-top-right-radius 5px
		&:last-child
			border-bottom-left-radius 5px
			border-bottom-right-radius 5px
	
	