
.form
	width 400px
	margin 0 auto
	&__control
		border 1px solid $base-dark
		width 100%
		font-size 1.3em
		padding 5px 10px
		margin-top 10px
		margin-bottom 20px
	&__label
		display block
		font-weight 700
	&__btn
		margin-top 20px
.login-header
	text-align center
.btn_submit
	border 2px solid $btn_subscr
	border-radius 3px
	color $btn_subscr
	padding 8px 20px
	font-weight 700
	width 100%
	&:hover
		color #fff
		background $btn_subscr