.navbar
	position fixed
	top 0
	bottom 0
	width 250px
	background #4f5a6e
	i
		margin-right 10px
.navbar__logo
	padding 0 10px
	background #424b5f
	a
		display block
		font-weight 700
		font-size 2em
		text-align center
		line-height 2
		color #fff
.panel
	border-bottom 1px solid #424b5f
	@extend $clearfix
	&-user
		&.user-logged
			float left
			width 85%
			padding 15px 20px
		padding 20px 20px
		display block
		color #fff
		font-weight 700
		font-size .9em
		&__avatar
			display inline-block
			margin-right 5px
			margin-left -5px
			width 30px
			vertical-align middle
		&:hover
			background #606d86
	&-arrow
		float left
		width 15%
		padding 16px 0 15px
		font-weight 700
		font-size 1.4em
		background none
		color #D1D9E1
		border 0
		border-left 1px solid #424b5f
		
		&:hover
			background #606d86
			/*& > i:before
				transform rotate(180deg)
				transition all .2s*/
		& > i
			margin 0
.main-menu
	margin 0
	li
		a
			display block
			color #a7b3cb
			font-weight 700
			font-size .9em
		display block
		padding 10px 20px
		&:hover
			background #606d86
			a
				color #fff
		&.current
			border-left 4px solid #1ba8ed
			padding-left 16px
			background #424b5f
			a
				color #fff
			