.navbar
	position fixed
	top 0
	bottom 0
	width 250px
	background #4f5a6e
	i
		margin-right 10px
.navbar__logo
	padding 0 10px
	background #424b5f
	a
		display block
		font-weight 700
		font-size 2em
		text-align center
		line-height 2
		color #fff
.panel
	border-bottom 1px solid #424b5f
	&-user
		padding 20px 20px
		display block
		color #fff
		font-weight 700
		font-size .9em
		&:hover
			background #606d86
.main-menu
	margin 0
	li
		a
			display block
			color #a7b3cb
			font-weight 700
			font-size .9em
		display block
		padding 10px 20px
		&:hover
			background #606d86
			a
				color #fff
		&.current
			border-left 4px solid #1ba8ed
			padding-left 16px
			background #424b5f
			a
				color #fff
			