.section
	margin-top 40px
	&-header
		border-bottom 2px solid #333
		&__title
			text-transform uppercase
			margin 0
			font-size .8em
			padding-bottom 12px
.answer__text
	margin 10px 0 0 48px
$btn_like = #65c178
.btn_like
	float left
	margin-right 10px
	border-radius 3px
	color $btn_like
	border 1px solid @color
	padding 5px 8px
	font-size .85em
	font-weight 700
	.like_count
		margin-left 7px
		border-left 1px solid $btn_like
		padding-left 8px
	&:hover
		border-color darken($btn_like, 20%)
		color @border-color
	&_liked
		color #fff
		background $btn_like
		.like_count
			border-left-color #fff
		&:hover
			background lighten($btn_like, 10%)
			color #fff