.sidebar
	float left
	width 300px
	margin-left -300px
	position relative
	height 100%
	z-index 2
	font-size .9em
	&__panel
		padding 0 20px
		&_title
			text-transform uppercase
			font-weight 700
			padding 30px 0 10px 
			font-size .9em
	&-list
		&_title
			line-height 1.7
			font-size 1em
			&:hover
				text-decoration underline
		&>li
			border-top 1px solid #dae1e8
			padding 10px 0 15px