.footer
	width auto
	height 45px
	position relative
	margin-right 300px
	&__wrapper
		margin 0 30px
		border-top 1px solid $base-hover
		vertical-align middle
	&__menu
		margin 0
		margin-top 10px
		float left
		li
			margin-right 10px
			a
				color #9099a3
				font-weight 700
				font-size .85em
				&:hover
					text-decoration underline
	.social
		float right
		margin 0
		margin-top 10px
		a 
			font-size 1.1em
			color #b7bdc2
			&:hover
				color #898d92
			i:before
				margin-right 5px