.page-header
	&__info
		text-align center
		padding-top 35px
		.page-header__title
			padding-top 10px
	
	&__image
		width 65px
		height @width
		padding 5px
		border-radius 5px
		background #eef1f4
		vertical-align middle
		margin auto
		i
			font-size 2.5em
			color #2d72d9
			line-height 1.4
			margin-left 2px
	&__stats
		text-align center
		padding-top 20px
		margin-bottom 20px
	&__buttons
		text-align center
		padding-bottom 20px
		*
			display inline-block
			vertical-align bottom
			float none
		.btn_subscribe
			margin-right 0
.inline-list_tags
	li
		width 105px
		border-left 1px solid #f0f0f0
		padding 5px 2px
		&:first-child
			border-left none
	.mini-counter
		&__count
			color #2d72d9
			font-size 1.3em
			font-weight 700
			line-height 1
			&_green
				color #65c178
		&__value
			color #9099a3
		