
.icon-ok:before { content: '\e800'; } /* '' */
.icon-tag:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-list-bullet:before { content: '\e803'; } /* '' */
.icon-lock-open-alt:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-vkontakte:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-tags:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e80a'; } /* '' */