footer.footer 
	.footer__wrapper
		ul.footer__menu
			li: a(href="#") &copy; TM
			li: a(href="#") О сайте
			li: a(href="#") Обратная связь
			li: a(href="#") Реклама
			li: a(href="#") Блог
		ul.social
			li: a(href="#"): i.icon-twitter
			li: a(href="#"): i.icon-facebook
			li: a(href="#"): i.icon-vkontakte