header.body__header
	.body__header_wrap
		form.search-form
			.search-form__wrap: .search-form__wrap_fluid
				input(type="text", placeholder="Найти вопрос, ответ, тег или пользователя").search-form__input
		.body__header_add
			a(href='#').body__header_add-button Задать вопрос