header.page__header.login-header
	h1.page__header-title Вход
	a.login-header__link(href="#") Регистрация
.page__body
	form.form.login-form
		label.form__label Email
		input(type="email" required).form__control
		label.form__label Password
		input(type="password" required).form__control
		input(type="submit" value="Войти").form__btn.btn.btn_submit