aside.navbar 
	.navbar__logo: a(href='#') Toster
	.panel
		a(href='login.html').panel-user #[i.icon-lock-open-alt] Войти на сайт
	ul.main-menu
		li.current: a(href='#') #[i.icon-list-bullet] Все вопросы
		li: a(href='#') #[i.icon-tags] Все теги
		li: a(href='#') #[i.icon-user] Пользователи