ul.pagination
	li.pagination__current: span.pagination__link 1
	li: a(href='#').pagination__link 2
	li: a(href='#').pagination__link 3
	li: a(href='#').pagination__link 4
	li: a(href='#').pagination__link Следующие →