header.page-header
	.page-header__info
		.page-header__image
			i.icon-tag
		h1.page-header__title JavaScript
	.page-header__stats
		ul.inline-list.inline-list_tags
			li: a(href="#").mini-counter
				.mini-counter__count 25623
				.mini-counter__value подписчиков
			li: a(href="#").mini-counter
				.mini-counter__count 1254 
				.mini-counter__value вопросов
			li: a(href="#").mini-counter
				.mini-counter__count.mini-counter__count_green 46% 
				.mini-counter__value решено
	.page-header__buttons
		div.btn-box.btn_blue
			a(href="#").btn_subscribe Вы подписаны
			span.subscribe_count: i.icon-cog
		.dropdown.dropdown_settings
			button.btn.btn_settings.btn_dott
nav.page__tabs
	ul.tabs
		li: a(href='#').main-menu__item Информация
		li: span.main-menu__item Новые вопросы
		li: a(href='#').main-menu__item Интересные
		li: a(href='#').main-menu__item Без ответа
		li.current: a(href='#').main-menu__item Подписчики
.page__body
	ul.content-list.content-list_cards
		- var n = 0
		while n < 10
			- n++
			li.content-list__item
				article.card
					header.card__head
						a(href="#").card__head-image
							i.icon-tag
						h2.card__head-title: a(href="#") JavaScript
					.card__stats
					.card__rate
					.card__buttons

				