.buttons_group
	position absolute
	right 10px
	top 10px
	display none
	& > a
		margin-left 5px
.hover_buttons
	tr
		&:hover
			.buttons_group
				display block

.dataTables_paginate
	float right
	.pagination
		margin-top -5px
		margin-bottom 5px