aside.navbar 
	.navbar__logo: a(href='#') Toster
	.panel
		.panel__wrapper
			a(href='login.html').panel-user.user-logged #[i.icon-lock-open-alt] Войти на сайт
			button.panel-arrow: i.icon-down-open(role="panel-list-opening")
		ul.panel-list
			li: a(href='#') #[i.icon-cog] Настройки
			li: a(href='#') #[i.icon-logout] Выйти
	ul.main-menu
		li.current: a(href='#') #[i.icon-list-bullet] Все вопросы
		li: a(href='#') #[i.icon-tags] Все теги
		li: a(href='#') #[i.icon-user] Пользователи